BPF_DUKCAPIL_SVR1/DukcapilWS/DukcapilWS/Web References/WS1/DukcapilWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DukcapilWebServices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NIK" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DukcapilWebServicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DukcapilWebServicesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DukcapilWebServicesSoapIn">
    <wsdl:part name="parameters" element="tns:DukcapilWebServices" />
  </wsdl:message>
  <wsdl:message name="DukcapilWebServicesSoapOut">
    <wsdl:part name="parameters" element="tns:DukcapilWebServicesResponse" />
  </wsdl:message>
  <wsdl:portType name="DukcapilWSSoap">
    <wsdl:operation name="DukcapilWebServices">
      <wsdl:input message="tns:DukcapilWebServicesSoapIn" />
      <wsdl:output message="tns:DukcapilWebServicesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DukcapilWSSoap" type="tns:DukcapilWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DukcapilWebServices">
      <soap:operation soapAction="http://tempuri.org/DukcapilWebServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DukcapilWSSoap12" type="tns:DukcapilWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DukcapilWebServices">
      <soap12:operation soapAction="http://tempuri.org/DukcapilWebServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DukcapilWS">
    <wsdl:port name="DukcapilWSSoap" binding="tns:DukcapilWSSoap">
      <soap:address location="http://10.162.61.3:8083/DukcapilWS.asmx" />
    </wsdl:port>
    <wsdl:port name="DukcapilWSSoap12" binding="tns:DukcapilWSSoap12">
      <soap12:address location="http://10.162.61.3:8083/DukcapilWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>